@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">

        <div class="card text-dark bg-light mb-3" style="box-shadow:0px 0px 5px #999;" >
          <div class="card-header">
              <h1>Products</h1>
              <div class="d-flex justify-content-end mb-1">
                <a class="btn btn-success btn-sm" asp-controller="Order" asp-action="Add">
                    Create New
                </a>
              </div>
          </div>
          <div class="card-body">
            <table class="table table-sm table-striped table-hover text-center">
            <thead class="h5">
                <tr>
                    <th>Id</th>
                   <th>Product</th>
                   <th>Price</th>
                    <th>Quantity</th>
                    
                    <th>Total</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Product.ProductName</td>
                        <td>@p.Product.Price</td>
                        <td>@p.Quantity</td>
                        
                        <td>@(p.Product.Price * p.Quantity)</td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-controller="Order" asp-action="Edit" asp-route-id="@p.Id">
                            Edit
                            </a>
                            <a id="Deletebtn" class="btn btn-danger btn-sm" asp-controller="Order" asp-action="Delete" asp-route-id="@p.Id">
                            Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
          </div>
        </div>

     
        
        
    </div>
</div>
@section scripts{
    <script>
        $("#Deletebtn").click(function (e) {
            var result = window.confirm('Are you sure to Delete?');
            if (result == false) {
                e.preventDefault();
            };
        });
    </script>
}

